@model Volo.Docs.Pages.Documents.Project.IndexModel
@{
    if (Model.TocHeadings == null ||Model.TocHeadings.Count == 0)
    {
        return;
    }

    var relevantHeadings = Model.TocHeadings
        .Where(h => h.Level is 2 or 3)
        .ToList();

    if (relevantHeadings.Count == 0)
    {
        relevantHeadings = Model.TocHeadings
            .Where(h => h.Level == 1)
            .ToList();
    }

    if (relevantHeadings.Count == 0)
    {
        return;
    }

    var baseLevel = relevantHeadings.Min(h => h.Level);
    var normalizedHeadings = relevantHeadings
        .Select(h => h with { Level = h.Level - baseLevel + 1 })
        .ToList();

    var levelStack = new Stack<int>();
    levelStack.Push(0);
}

@for (var i = 0; i < normalizedHeadings.Count; i++)
{
    var heading = normalizedHeadings[i];
    var previousLevel = levelStack.Peek();

    if (heading.Level < previousLevel)
    {
        @while (heading.Level < levelStack.Peek())
        {
            @:</li></ul>
            levelStack.Pop();
        }
        @:</li>
    }
    else if (heading.Level > previousLevel)
    {
        @:<ul class="nav nav-pills flex-column">
        levelStack.Push(heading.Level);
    }
    else if (i > 0)
    {
        @:</li>
    }

    var hasChildren = (i + 1 < normalizedHeadings.Count) &&
                      (normalizedHeadings[i + 1].Level > heading.Level);

    var liClass = hasChildren ? "nav-item toc-item-has-children" : "nav-item";

    @:<li class="@liClass"><a class="nav-link" href="#@heading.Id">@heading.Text</a>
}

@if (normalizedHeadings.Any())
{
    @:</li>
}
@while (levelStack.Count > 1)
{
    @:</ul>
    levelStack.Pop();
}
